*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.container-full{
    max-width: 100%;
}

/* layout */
.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
    background-color: violet;
}

/* header */
header{
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.header-left img{
    margin-right: 20px;
}

.header-right button{
    background-color: rgb(11, 184, 242);
    color: white;
    padding: 5px 10px;
    border: none;
    font-size: 15px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 20px;
}

a{
    text-decoration: none;
}

/* style */
.bg-lightblue{
    background-color: lightblue;
}

h1{
    text-align: center;
}

.jumbo{
    float: right;
    width: 500px;
}

