*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.container-full{
    max-width: 100%;
}

/* layout */
.container{
    max-width: 900px;
    margin: 0 auto;
}

.container-big{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-36{
    width: 36%;
}

.col-64{
    width: 64%;
}

.col-33{
    width: calc(90% / 3);
}

/* header */
header{
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.header-left img{
    margin-right: 20px;
}

 .header-right button{
    padding: 7px 13px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 20px;
}

a{
    text-decoration: none;
}

/* style */
.bg-lightblue{
    background-color: lightblue;
}

h1{
    font-size: 60px;
    margin: 40px 0;
}

h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.jumbo{
    width: 720px;
    position: absolute;
}

button{
    background-color: rgb(11, 184, 242);
    color: white;
    margin: 25px 0;
    padding: 10px 13px;
    font-size: 15px;
    border: none;
}

/* specifics */

.m-arrow{
    margin: 60px 0 30px 0;
}

.gap-5{
    gap: 5%;
}

.mt-40{
    margin-top: 50px;
    height: 500px;
}

.mt-130{
    margin-top: 130px;
}

.bg-brown{
    background-color: brown;
}

.h-700{
    height: 700px;
}

.h-200{
    height: 200px;
}


