*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-full{
    max-width: 100%;
}

/* layout */

.container{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    height: 75px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
}