*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.container-full{
    max-width: 100%;
}

/* layout */
.container{
    max-width: 900px;
    margin: 0 auto;
}

.container-big{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-36{
    width: 36%;
}

.col-64{
    width: 64%;
}

.col-33{
    width: calc(90% / 3);
}

.col-32{
    width: 32%;
}

.col-58{
    width: 58%;
}

.col-33-full{
    width: calc(100% / 3);
    background-color: blueviolet;
}
/* header */
header{
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.header-left img{
    margin-right: 20px;
}

.header-right button{
    padding: 7px 13px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 20px;
}

header a{
    text-decoration: none;
}

/* style */
.bg-lightblue{
    background-color: lightblue;
}

h1{
    font-size: 60px;
    margin: 40px 0;
}

h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.jumbo{
    width: 720px;
    position: absolute;
}

button{
    background-color: #0b81ef;
    color: white;
    margin: 25px 0;
    padding: 10px 13px;
    font-size: 15px;
    border: none;
}

/* specifics */

.m-arrow{
    margin: 60px 0 30px 0;
}

.gap-5{
    gap: 5%;
}

/* utility */

.mt-130{
    margin-top: 130px;
}

.plan-icons{
    display: flex;
    margin: 10px 0;
    font-size: 14px;
}

.plan-icons > span{
    margin-left: 5px;
}

h3{
    padding: 30px 0 20px 0;
}

ul button{
    text-align: center;
    padding: 12px 30px;
}

.plan-title{
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.plan-time{
    color: lightgray;
    padding: 10px 0 30px 0;
}

ul hr{
    width: 20%;
    margin: 37px 20px;
    color: lightgray;
}

.border{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.enterprise{
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

.enterprise p{
    margin: 50px 25px 25px 0;
    font-size: 14px;
}

.mt-35{
    margin-top: 35px;
}

.content{
    margin-bottom: 15%;
}

.partner button{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.w-full{
    width: 100%;
}

.client-logo-big{
    background-color: rgb(64, 43, 226);
    height: calc(100vw / 3);
}

.client-logo{
    height: calc(50vw / 3);
    width: calc(50vw / 3);
}

.col-50{
    width: 50%;
}
.text-right{
    text-align: center;
}

.text-red{
    color: red;
}

.m-70{
    margin: 90px 0;
}

.btn-white{
    color: black;
    background-color: white;
    margin-bottom: 0px;
    font-size: 15px;
    padding: 10px 40px;
}

.m-50{
    margin: 70px 0 40px 0;
}

ul.faq > li{
    display: flex;
    flex-direction: column;
}

ul.faq i{
    display: flex;
    justify-content: flex-end;
}

ul.faq hr{
    width: 100%;
}
